<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<%= link_to "ARTICLES", root_path, class: "navbar-brand", id: "logo" %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <%= link_to "Articles Index", articles_path, class: "nav-link" %>
    </li>
    <li class="nav-item active">
    <%= link_to "Users Index", user_path, class: "nav-link" %>
    </li>
    <% if logged_in? %>
      <li class="nav-item active">
        <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
      </li>   
      <li class="nav-item active">
        <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link" %>
      </li> 
    <% else %> 
      <li class="nav-item active">
        <%= link_to 'Log-in', login_path, class: "nav-link" %>
      </li> 
      <li class="nav-item active">
        <%= link_to 'Signup', signup_path, class: "nav-link" %>
      </li> 

    <% end %>
 </ul>
</div>
</nav>
<div class="container">
<div class="jumbotron">
<h1>Editing the user details</h1>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %> alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %> 
</div> 
<div>
<% if @user.errors.any? %>
  <h2>the following are errors</h2>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>
</div>
<%= form_with(model: @user, local: true) do |f| %>

  <div>
    <%= f.label :username %>
    <br>
    <br>
    <%= f.text_field :username %>
    <br>
    <br>
  </div>

  <div>
    <%= f.label :email %>
    <br>
    <br>
    <%= f.email_field :email %>
    <br>
    <br>
  </div>

  <div>
    <%= f.label :password %>
    <br>
    <br>
    <%= f.password_field :password %>
    <br>
    <br>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
<br><br>
<%= link_to 'Cancel and return to users listing ', users_path %>
</div>
</div>